body,html{
	font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: normal;
	color:#000000;
}

.title{
	margin-bottom: 10px;
	color: $color--background;
	font-weight: 600;
}

.b-image {
	display: block;
	margin-bottom: 25px;
	height: 260px;
	border-radius: 6px;
	background-color: $soft-gray;
}

.title-plans{
	display: flex;
	align-items: center;
	justify-content: center;
	color:#ffffff;
	text-align: center;
}

.pagina{
	padding-top: 100px;
}

.seccion{
	padding-top: 25px;
	padding-bottom: 25px;
}

.boton{
			background: #44b486;
	    /* position: absolute; */
	    width: 170px;
	    height: 47px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    border: 2px solid white;
	    font-weight: bold;
	    color: white;
	    border-radius: 10px;

		a{
			color:#ffffff;
		}

}

.placed-backg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.plans-button{
	p{
	  margin-top: 1rem;
	}
}

.bg-empresarial{
		background-position: bottom !important;
}

.bg-construction{
	background-position: bottom !important;
}

.tarjeta{
	text-align: center;
	padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 10px darkgrey;
    cursor: pointer;
    height: 100%;
    width: 100%;
    @include transition(400ms);
    .image{
    	margin-bottom: 3em;
    	font-size: 1.2em;
    	color: aqua;
    }
    &:hover{
    	@include cp-property(transform,scale(1.05));
    	opacity: 0.7;
    }
    .descript{
    	color: $color--text;
    }
}
