/*================== FOOTER ==================== */
#footer{
    background: #555b59;
    color: $color--text2;
    .logo{
        width: 75%;

        cursor: pointer;
    }

    .appWhatsapp{
				position:fixed;
				right: 20px;
				bottom: 40px;
				width: 50px;
				z-index: 1000;

					img{
				 		width: 100%;
				 		height: auto;
			 			}

			}

    .redes{

      a{
        position: relative;
        display: inline-block;
        margin: 0 2px;

        span{
          display: flex;
          justify-content: center !important;
          align-items: center !important;
          width: 34px;
          flex: 0 0 34px;
          max-width: 34px;
          height: 34px;
          color: #5ae7b2;
          border-radius: 50%;
          background: #ffffff;
        }

      }
        font-size: 1.4em;
        .red{
            @include transition(400ms);
            cursor: pointer;
            &:hover{
                &.facebook{
                    color: $color--facebook;
                }
                &.instagram{
                    color: $color--instagram;
                }

            }
        }
    }

    .web{
    	background: #000;
    	color:#fff;
    	p{
    		margin-bottom: auto;
    	}
    }

}
/*================== FOOTER ==================== */
