#header{
	position: relative;
	height: 88px;

	border-bottom: 1px solid $aqua;
	z-index: 55;

	@media screen and (max-width: 1199px){
		height: 79px;
	}
	@media screen and (max-width: 991px){
		height: 64px;
	}

	.header-content{
		top: 0;
		left: 0;
		width: 100%;
		background: #ffffff !important;

	}

	.navbar{
		background-color: #ffffff !important;
		// border-bottom: 1px solid $aqua;

		.navbar-brand{
			padding-top: 0.10rem;
			padding-bottom: 0.10rem;

			img{
				height: 80px;
			}
		}

		.navbar-toggler{
			border: 0;

			.bar-icon{
				color: $lotus;
				font-size: 1.7rem;

				&:hover{
					color: $aqua2;
				}
			}

			.navbar-toggler-icon{
				display: none;
			}
		}

		#nav-collapse{
			.navbar-nav{
				.nav-item{
					.nav-link{
						position: relative;
						color: #000;
						font-size: 1.00rem;
						font-weight: 700;
						text-transform: uppercase;

						&:hover{
							color: $aqua2;

						}
					}
				}

				.nav-focus{
					.nav-link{
						color: $aqua !important;
						font-weight: 600;

						&:after{
							bottom: 1px;
							opacity: 1;
							border-top-width: 2px;
						}
					}
				}

				.nav-apps{
					.nav-link{
						&:after{
							display: none !important;
						}

						.title{
							display: none;
							padding-bottom: 2px;
							font-size: 1.0rem;
							font-weight: 500;
							color: #414042 !important;
						}

						.btn-app{
				      display: inline-block;
				      margin: 2px 3px;

				      img{
				        height: 37px;
				      }

				      &:first-child{
				        margin-left: 0;
				      }
				      &:last-child{
				        margin-right: 0;
				      }
				    }
					}
				}
			}
		}

		@media screen and (min-width: 992px){
			#nav-collapse{
				.navbar-nav{
					.nav-item{
						margin-left: 7px;
						margin-right: 7px;
					}
				}

				.nav-apps{
					.nav-link{
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}

			@media screen and (max-width: 1280px){
				#nav-collapse{
					.navbar-nav{
						.nav-item{
							margin-left: 0;
							margin-right: 0;
						}
					}
				}
			}
			@media screen and (max-width: 1199px){
				.navbar-brand{
					img{
						height: 60px;
					}
				}
			}
			@media screen and (max-width: 1099px){
				#nav-collapse{
					.navbar-nav{
						.nav-item{
							margin-left: 0;
							margin-right: 0;

							.nav-link{
								padding-left: 0.3rem;
								padding-right: 0.4rem;
								font-size: 0.95rem;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 991px){
			.navbar-brand{
				padding-top: 0.1rem;
				padding-bottom: 0.1rem;

				img{
					height: 45px;
				}
			}

			#nav-collapse{
				.navbar-nav{
					margin-top: 7px;

					.nav-item{
						.nav-link{
							padding-top: 0.1rem;
							padding-bottom: 0.1rem;
							font-size: 1.00rem;

							&:after{
								display: none !important;
							}
						}
					}

					.nav-apps{
						.nav-link{
							text-align: center;

							.title{
								display: block;
							}
						}
					}
				}
			}

		}

	}

}
