/*================== FOOTER ==================== */
#footer{
    background-color: #f2f2f2;
    color: #000;




      .ir-arriba {
        border-radius: 50px;
        display:none;
        padding:22px;
        background:#024959;
        font-size:20px;
        color:#fff;
        cursor:pointer;
        position: fixed;
        bottom:116px;
        right:10px;
        }

    .icon-arrow-up2{
    background-image: url(../images/assets/up.svg);
    }


    .appWhatsapp{
      position: fixed;
      right: 10px;
      bottom: 67px;
      width: 45px;
      z-index: 1000;
    }

    .appWhatsapp img{
    	width: 100%;
    	height: auto;
    }


    .logo{
        width: 100%;
        max-width: 200px;
        cursor: pointer;
    }


    .web{
    	background: #000;
    	color:#fff;
    	p{
    		margin-bottom: auto;
    	}
    }


    //Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    .ir-arriba {
      bottom:116px;
      }

    .appWhatsapp{
      bottom: 67px;
    }

  }



  //  iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {

    .ir-arriba {
      bottom:90px;
      }

    .appWhatsapp{
      bottom: 42px;
    }

  }


}
/*================== FOOTER ==================== */
