#footer{
  position: relative;
  width: 100%;

  // == Footer section ==
  .footer-section{
    padding-top: 24px;
    padding-bottom: 24px;
    color: #ffffff;
    font-size: 0.90rem;
    background-color: #414042;

    a{
      display: inline-block;
      color: #ffffff;
    }

    h6{
      margin-bottom: 8px;
      color: $aqua;
      font-size: 0.91rem;
      font-weight: 400;
    }

    .col-footer{
      margin-top: 5px;
      margin-bottom: 5px;

      &.col-r{
        text-align: right;
      }

      .fa-whatsapp{
        font-size: 120%;
      }
    }

    .col-logo{
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;

      img{
        max-width: 60%;
      }
    }

    .bg-redes{
      font-size: 30px;
    }

    .col-networks{
      text-align: center;

      .link{
        display: inline-block;
        margin: 2px 12px;
        color: #ffffff;
        font-size: 1.95rem;

        &:hover{
          color: #ffffff;
        }
      }
    }
  }

  @media screen and (min-width: 992px){
    .footer-section{
      >.row{
        -ms-flex-align: center !important;
        -webkit-box-align: center !important;
        align-items: center !important;
      }

      .col-logo{
        flex: 0 0 310px;
        max-width: 310px;
      }
    }
  }
  @media screen and (max-width: 991px){
    font-size: 0.85rem;

    .footer-section{
      .col-footer{
        order: 1;
        margin-top: 7px;
        margin-bottom: 7px;
        text-align: center !important;
        line-height: 1.3;
      }

      .col-logo{
        margin-top: 0;
        order: 0;

        img{
          width: 100px;
        }
      }

      .col-networks{
        order: 7;
      }
    }
  }
  @media screen and (max-width: 575px){
    .footer-section{
      .col-logo{
        img{
          width: 190px;
        }
      }

      .col-networks{
        .link{
          line-height: 1;
        }
      }
    }
  }

  .appWhatsapp{
      position: fixed;
      right: 20px;
      bottom: 2%;
      width: 50px;
      z-index: 1000;

      }

      .appWhatsapp img{
        width: 100%;
        height: auto;
      }

      .web{
      	background: #000;
      	color:#fff;
      	p{
      		margin-bottom: auto;
      	}
      }


}
