.col-project-sample{
  .pj-link{
    display: inline-block;
    width: 100%;
    padding: 4px 4px 15px 4px;

    &:hover{
      text-decoration: none;

      .box-img{
        outline-color: $blue2;

        &:before{
          opacity: 1;
        }
      }
      .box-info{
        h5{
          color: $blue2;
        }
      }
    }
  }
  .box-img{
    position: relative;
    display: inline-block;
    width: 100%;
    outline: 4px solid transparent;
    @extend .trans-250;

    &:before{
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.2);
      opacity: 0;
      @extend .trans-250;
    }

    img{
      max-width: 100%;
    }
  }
  .box-info{
    padding-top: 18px;
    padding-bottom: 20px;
    text-align: center;

    h5{
      color: $blue;
      font-size: 1.35rem;
      font-weight: 700;
      text-transform: uppercase;
      @extend .trans-250;
    }
  }
}
