#projects-page {

  .main-section {
    position: relative;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #ffffff;

    .page-title {
      font-size: 3.4rem;
      text-align: center;
    }

    .btn-s1 {
      margin-left: 10px;
      margin-right: 10px;
    }

    .box-gallery {
      display: flex;
      flex-wrap: wrap;
      margin-top: 23px;

      .col-image {
        border: 2px solid #ffffff;

        .image {
          position: relative;
          width: 100%;
          height: 215px;
          cursor: pointer;
          outline: 1px solid #000;
          border-radius: 3px;
          background-color: $soft-gray;
          @include transition(150ms);

          &:before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.45);
            opacity: 0;
            @include transition(150ms);
          }

          &:after {
            content: "\f002";
            position: absolute;
            @include flex-center-xy();
            bottom: 17px;
            left: 17px;
            font-family: "Font Awesome 5 Pro";
            font-weight: 300;
            font-size: 2.7rem;
            color: rgba(255,255,255,0.7);
            width: calc(100% - 34px);
            height: calc(100% - 34px);
            border-radius: 5px;
            background-color: rgba(40,40,40,0.90);
            opacity: 0;
            @include transition(150ms);
          }

          img {
            width: 100%;
          }

          &:hover {
            outline-width: 2px;

            &:before, &:after {
              opacity: 1;
            }
          }
        }
      }
    }

    @media screen and (max-width: 575px) {
      .box-gallery {
        .col-image {
          .image {
            height: 185px;
          }
        }
      }
    }
  }

}
