/*================== FOOTER ==================== */
#footer{
    background-color: #fff;
    color: #000;


      .modal-body{
        img{
          width: 100%;
          height: 550px;
        }
      }


    .appWhatsapp{
    	position:fixed;
    	right: 36px;
    	bottom:30px;
    	width: 60px;
    	z-index: 1000;
    }

    .appWhatsapp img{
    	width: 100%;
    	height: auto;
    }


    .logo{
        width: 100%;
        max-width: 120px;
        cursor: pointer;
    }


    .bg-redes{
      background: #73bf43;
      width: 40px;
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 25px;
      height: 40px;
      margin:auto;
      border-radius: 50px;

      .facebook{
        color:#fff;
      }

      .facebook:hover{
        color:#1196f5;
      }

      .ins{
          color:#fff;
        }

      .ins:hover{
        color:#e74757;
      }
    }






}
/*================== FOOTER ==================== */
