.btn-s1 {
  padding: 16px 18px;
  min-width: 260px;
  color: #ffffff !important;
  font-size: 1.20rem;
  font-weight: 500;
  text-align: center;
  border-radius: 0.30rem;
  border-color: $cprimary;
  background-color: $cprimary;

  &:hover {
    border-color: $cprimary2;
    background-color: $cprimary2;
  }

  @media screen and (max-width: 575px) {
    padding: 13px 18px;
    min-width: 230px;
    font-size: 1.1rem;
  }
}

// Outline
.btn-s2 {
  padding: 16px 18px;
  min-width: 260px;
  color: $cprimary;
  font-size: 1.20rem;
  font-weight: 500;
  text-align: center;
  border-radius: 0.30rem;
  border: 2px solid $cprimary;
  background-color: transparent !important;

  &:hover {
    color: $cprimary2;
    border-color: $cprimary2;
  }

  @media screen and (max-width: 575px) {
    padding: 13px 18px;
    min-width: 230px;
    font-size: 1.1rem;
  }
}
