/*================== FOOTER ==================== */
#footer{
    background-color: #745c6a;
    color: $color--text2;

    .appWhatsapp{
				position:fixed;
				right: 20px;
				bottom: 20px;
				width: 45px;
				z-index: 1000;

					img{
				 		width: 100%;
				 		height: auto;
			 			}

			}

    .logo{
        width: 100%;
        max-width: 200px;
        cursor: pointer;

        @media screen and (max-width: 480px){

          margin-bottom: 40px;
          }


    }
    .redes{
        font-size: 1.4em;
        .red{
            @include transition(400ms);
            cursor: pointer;
            &:hover{
                &.facebook{
                    color: $color--facebook;
                }
                &.twitter{
                    color: $color--twitter;
                }
                &.youtube{
                    color: $color--youtube;
                }
            }
        }
    }

    
.web{
	background: #000;
	color:#fff;
	p{
		margin-bottom: auto;
	}
}

}
/*================== FOOTER ==================== */
