#home{
	@include cp-style(min-height,calc,unquote('(100vh - 140px)'));

	#sec1{
    position: relative;
    color: white;
    width: 100%;
    height: 600px;
    background-image: url(../images/banner/2.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    #container-bg{
      background: rgba(0, 37, 77, 0.65);
      position:absolute;
      height: -webkit-fill-available;
      display: flex;
      align-items: center;


					.salida{
					-webkit-animation:1s salida 1;
					}

					@keyframes salida {
					25%{
						opacity: 0;
						-webkit-transform:scaleX(0.3)
															scaleY(0.3);
					}
					50%{
						-webkit-tranform:scaleX(0.6)
														 scaleY(0.6);
					}
					75%{
						-webkit-tranform:scaleX(0.9)
														 scaleY(0.9);
					}
					}


    }

    #titulo-banner{
      text-align: left;
    }
  }

	#sec2{
    background: #000;
    color: #fff;

    #container-bg{
      background: rgba(0, 123, 255, 0.3);
      display: flex;
      align-items: center;
      text-align: -webkit-center;
      justify-content: center;
    }

    .titulo-practicas{
      text-align: center;
      padding: 30px;
    }

}


  #sec3{
    height: 600px;
    background: #007bff;
    color:#ffffff;
    display:flex;
    align-items: center;
    font-size: 20px;

  h2{
    text-align: center;
  }

  }

	#sec4{
      position: relative;
      color: white;
      width: 100%;
      height: 600px;
      background-image: url(../images/banner/5.jpg);
      min-height: 500px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      #container-bg{
        background: rgba(0, 123, 255, 0.3);
      }

      }

			#sec5{
			display:flex;
			align-items: center;
			position: relative;
			color: white;
			width: 100%;
			height: 600px;
			background-image: url(../images/banner/4.jpg);
			min-height: 500px;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			#trucazo{
				opacity: 0;
			}

			#container-bg{
				background: rgba(0, 123, 255, 0.3);
				width: 100%;
				height: 600px;
				display: flex;
				text-align: center;
				align-items: center;
				justify-content: space-around;
			}

			.form-contacto-home{

						.messages{
								width: 100%;
								position: relative;
							}

						.messages__success{
							width: 100%;
							position: relative;
							padding: 10px;
							background-color: #30A9DE;

							p{

								color: white;
								margin: 0;
							}
						}

						.messages__error{
							width: 100%;
							position: relative;
							padding: 10px;
							background-color: #E53A40;

									p{

										color: white;
										margin: 0;
									}
							}
			}

			.titulo-bg{
				color:#ffffff;
				background: rgba(35, 26, 21, 0.6);
				height: 500px;
				width: 500px;
				padding: 15px 20px;
				box-sizing: border-box;
				border-radius: 20px;

					input, textarea{
						width: 100%;
						margin-bottom: 20px;
						padding: 7px;
						box-sizing: border-box;
						font-size: 10px;
						border:none;
					}

					textarea{
						min-height: 100px;
						max-height: 200px;
						max-width: 100%;
					}

					#boton{
						color: #fff;
						padding: 5px;
						font-size: 16px;
						background: #656c7a;
						width: 85px;
						height: 40px;
					}

					#boton:hover{
						cursor:pointer;
					}

			}

			.contacto{
				display: inline-grid;
			}

			form{
				width: 450px;
				margin:auto;

			}


			}


}
