#home{
	@include cp-style(min-height,calc,unquote('(100vh - 140px)'));


			#sec1{
			position: relative;
			color: #000;
			width: 100%;
			height: 600px;

			p{
				font-size: 30px;
    		font-weight: bold;
				margin: revert;
			}

			.img-bg{
				width: 172px;
    		height: 230px;
				background-image: url(../images/logo.jpeg);
				background-position: center;
				background-size: cover;
			}


		}

}
