/* Tipografías globales */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Inter:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores raíz de Webcats */
:root {
  --color-primary: #1B2E4A;
  --color-accent: #4DBFD9;
  --color-dark: #2F3B45;
  --color-light: #D6D6D6;
}


html, body {
  overflow-x: hidden;
  overflow-y: auto !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
    background: radial-gradient(
    ellipse at top,
    #111827 0%,
    #0d0d0f 60%
  );
  color: #e5e7eb;
}

#app {
  min-height: 100vh;
  background-color: inherit;
  display:flex;
  flex-direction:column;
}



/* Estilo global del body */
body {
  @apply bg-white text-dark font-sans;
  position: relative;
  overflow-x: hidden !important;
  width: 100%;
  max-width: 100vw;
}

/* Animaciones personalizadas */
@layer utilities {
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-up {
    animation: fade-up 0.8s ease-out forwards;
  }
}
