#home{
	padding-top: 90px;


	      @media screen and (max-width: 1199px){
	      padding-top: 59px;
	    }


		.section-banner{
			height: 100vh;
	    background-image: url(../images/home/banner.png);
	    background-size: cover;
	    background-position: right;
	    background-repeat: no-repeat;

			.bg-section{
				height: 100%;
				display: flex;
    		justify-content: center;
    		align-items: center;
				background: #aab6e02e;

			}

		 .title{
			 h1{
				 color:#495565;
				 font-size: 4rem;

				 @media screen and (max-width: 991px){
					text-align: center;
				 	font-size: 3rem;
					 }


			 }

			 .subtitle{
					text-transform: uppercase;



				 h2{
					 text-align: center;
			     width: 85%;
			     color: #fff;
			     font-size: 3.5rem;
			     font-weight: bold;
			     background: #74ebb6;

					 @media screen and (max-width: 991px){
						text-align: center;
						font-size: 2.5rem;
						width: 100%;
						 }
				 }
			 }

			 p{
					padding-top: 30px;
				}

				span{
					font-weight: bold;
				}

			 }

			 span{

			 }

			 h2{
			   color: #495565;
				 font-size: 1.5rem;


				 @media screen and (max-width: 480px){

					font-size: 1.2rem;
					 }

			 }


		 .boton{
			 @media screen and (max-width: 480px){

				text-align: center;
				 }
		 }


		 @media screen and (max-width: 630px){
			background: #fff;


		 }

		}

		hr{
			width: 90%;
			border-top: 3px dashed rgba(0, 0, 0, 0.1);
		}


	.form-section{

		.icons-acom{

			@media screen and (max-width: 767px){
			display: flex;
			justify-content: center;
		}

			.icon{
				display: flex;
				width: 120px;
				justify-content: center;
				align-items: center;
				height: 120px;
				font-size: 80px;
				border: 5px solid #000;

			}

			.icon:hover{
				background: gray;
				color:#fff;

			}

		}




		.descripcion{
			@media screen and (max-width: 767px){
				padding-top:30px;
			}
		}


		.bg-form{
			background: #74ebb6;
			padding: 20px 30px 50px 30px;

			.title{
				font-weight: bold;
				padding-top:20px;
			}
		}

		.title{
			margin-bottom: 2.5rem;
			padding-top: 20px;

			h2{
				font-weight: bold;
			}
		}

		.formulario{
			b-form-select-option, b-form-datepicker, b-form-input{
				height: 40px;
			}

		}
	}


	.clientes-section{
			.title{
				h2{
					font-size:3rem;
					font-weight: bold;
				}

				h3{
					font-size:2rem;
				}
			}
	}

	.servicios-section{
			.title{
				h2{
					font-weight: bold;
					font-size: 2.5rem;
				}
			}

			.icon{
				border: 2px solid #000;
				font-size: 35px;
				height: 70px;
				width: 70px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
	}

	.section-preguntas{
		background: #3b3b3b;

		.title{
			h2{
				color:#74ebb6;
				font-weight: bold;
  		  font-size: 3.4rem;
			}
			span{
				color: #fff;
  		  font-size: 2rem;
			}
			p{
				color: #fff;
				padding-top: 40px;
			}
		}

		.redes{
			font-size: 3.5rem;
			display: flex;
			justify-content: space-evenly;

			a{
				background: gray;
		    width: 100px;
		    display: flex;
		    height: 100px;
		    justify-content: center;
		    align-items: center;
		    border: 2px solid #ffff;
			}

			a:hover{
				background: #fff;
				color:gray;
			}
		}

	}

	.mapa{
		.text-ubicacion{
			a{
				color:#3b3b3b;
			}
		}
	}


// == ==



}
