#page-404{
  padding-top: 35px;
  padding-bottom: 35px;
  color: #ffffff;
  background-color: $black;

  a{
    color: #ffffff;
  }

  .container{
    text-align: center;

    >.row {
      min-height: 72vh;
    }

    .logo{
      width: 430px;
      max-width: 97%;
    }

    h1{
      font-weight: 600;
    }
    h2{
      font-weight: 400;
    }

    p.lg{
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 575px){
    .container{
      .logo{
        width: 270px;
      }
    }
  }
}
